*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
img{
    width: 100%;
}
body{
    background-color: black;
    .top{

    

    ul{
        display: flex;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
    min-width: 991px;
    max-width: 1323px;
        gap: 2rem;

        li a{
            color: grey;
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 11px;
        }
    }
    ul li a:hover{
        color: rgb(185, 185, 185);
        transition: .2s ease-in-out;
    }
}
}
header{
    background-color: rgb(15, 15, 15);
    height: 70px;
    width: 100%;
}
.inner-header{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-width: 991px;
    max-width: 1323px;
    width: 96%;
    color: white;
    gap: 30px;
}

.left{
    flex: 1;
    .logo-area{
        width: 230px;

        img{
            vertical-align: bottom;
        }
    }
}
.right{
    flex: 1;
    .cta-area{
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 1rem;
        .apply-button:hover{
            color: rgb(211, 211, 211);
            transition: .2s all ease-in-out;
        }

        .ask-button{
            border: 1px solid rgb(44, 44, 44);
            padding: 0.6rem;
            border-radius: 1rem;
            transition: .3s ease-in all;
        }
        .ask-button:hover{
            color: black;
            border: 1px solid white;
            background: rgb(231, 231, 231);
            transition: .3s ease-in all;
        }
        
        a{
            color: grey;
            font-family: "Noto Sans JP";
            font-weight: 700;
            transition: .2s all ease-in-out;

        }
    }
}
.search-section{
    width: 90%;
    justify-content: center;
    flex: 1;
    align-items: center;

    .search-box{
        align-items: center;
        display: flex;
        height: 100%;
        width: 40rem;
        height: 2.5rem;
        border-radius: 2rem;
        border: none;
        background-color: rgb(36, 36, 36);
        color: white;
        padding: 0 2rem;
    }
}
.search-box:focus{
    outline: rgb(49, 49, 49) 2px solid;
}
.navbar{
    height: 40px;
    background-color: rgb(15, 15, 15);
    border-bottom: 1px solid rgb(27, 27, 27);

    ul{
        justify-content: center;
        margin: 0 auto;
        height: 100%;
        gap: 0;
        display: flex;
        min-width: 991px;
        max-width: 1323px;

        li{
            text-align: center;
            width: 15%;
            padding: .6rem 2rem;
            cursor: pointer;
        }
        li:hover{
            border-bottom: 1px solid grey;
            background-color: rgb(27, 27, 27);
        }
    }

    a{
        display: block;
        color: white;
        font-family: "Noto Sans JP";
        font-weight: 600;
        font-size: 12px;
    }
}
.ads-section{

    margin: 2rem auto;
    min-width: 991px;
    max-width: 1323px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    img{
        width: 7rem;
    }
}
.ads-area{
    font-size: .8rem;
    display: flex;
    background: rgb(19, 19, 19);
    padding: .8rem 2rem;
    font-family: "Noto Sans JP";
    font-weight: 500;
    border-radius: .5rem;
    color: rgb(224, 224, 224);

    a{
        color: #ff9000;
    }
    a:hover{
        text-decoration: underline;
    }
}
